{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'Gaido/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="col text-center">
        <div class="row">
            <h1 class="display">Gaido</h1>
            <p class="lead">A Japanese Tour Guide for everyone.</p>
        </div>
        <div class="row">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>

    <!-- Navbar for the page -->
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Japanese Tour Guide</a>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row"></div>
        <div class="row">
            <h1 class="display text-center start">Welcome to the landing page!</h1>
            <p class="text text-center">This is to get the page started using Bootstrap fast and easily.</p>
        </div>
    </div>

    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est tortor, pretium sit amet nisl dictum, tempor dapibus ex. Proin pulvinar ligula ac felis hendrerit, ut pulvinar lectus venenatis. Donec maximus risus ipsum, sit amet vulputate massa lobortis at. Cras sed tempus urna, quis facilisis turpis. Vestibulum molestie sagittis facilisis. Sed vehicula sollicitudin ante, vel convallis mi dictum sit amet. Praesent ut gravida magna. In pellentesque venenatis eros, nec consequat mauris ultricies non. Vivamus non sem gravida, accumsan nisl at, interdum ex. Pellentesque quam orci, laoreet in tristique non, viverra sollicitudin velit. Proin ut semper sapien. Morbi molestie rhoncus semper. Donec rhoncus eros vitae fringilla fermentum.

Suspendisse luctus odio vel leo aliquam facilisis. Aliquam erat volutpat. Nunc eu ante vestibulum, ullamcorper sem tincidunt, eleifend odio. Nam eu viverra turpis. Aliquam erat volutpat. Integer condimentum, ligula eu ultrices ultrices, sapien massa posuere mi, auctor placerat lacus dolor et orci. Nulla in lacus condimentum, ornare nibh vel, pulvinar nulla.

Vestibulum ornare turpis quis nibh viverra, id imperdiet elit volutpat. Cras scelerisque velit viverra risus finibus, sed blandit ante facilisis. Maecenas ac gravida dui, a maximus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce placerat, lorem eu gravida mollis, purus eros porta lectus, sit amet bibendum dolor eros ut enim. Suspendisse aliquet diam nibh, nec sodales elit tincidunt a. Etiam id lacus risus. Vestibulum malesuada dignissim mauris quis malesuada.

Mauris id consequat nisl. Integer et sollicitudin dui, vitae cursus sapien. Curabitur vel libero vehicula, placerat libero in, scelerisque neque. Donec vitae libero blandit, fermentum ex eu, laoreet magna. Maecenas tincidunt rutrum odio, a tempor diam placerat ut. Vivamus erat est, blandit at eleifend at, efficitur a quam. Phasellus eu justo sed odio mollis blandit. Integer purus velit, vehicula nec nulla et, fermentum mattis est. Integer elementum ligula vulputate est sagittis, at luctus dui finibus. Suspendisse eu viverra enim, sed ornare urna. Pellentesque dui eros, sagittis non tellus et, efficitur vestibulum dui. Quisque quam mauris, sodales eu volutpat ut, laoreet non odio. Fusce tortor leo, ultricies at iaculis a, sagittis vel odio. Curabitur ultricies, leo sed lacinia pulvinar, eros arcu tristique leo, eget malesuada mauris odio sed ligula. Nullam ut lorem quam. Vestibulum eu leo id leo feugiat scelerisque.

Etiam consectetur condimentum enim sed convallis. In mattis laoreet sapien, in tincidunt justo molestie vel. Nullam in cursus enim. Proin eu diam lacinia, sagittis metus dignissim, dictum lorem. Pellentesque egestas tempus dui a venenatis. Phasellus condimentum justo nec mi ultricies, id tempor orci pulvinar. Pellentesque quis convallis lectus. Proin auctor, est in convallis egestas, tellus ipsum condimentum lectus, nec scelerisque neque odio sed quam.

Cras laoreet euismod eros vitae aliquet. Vivamus in velit tempus sem rutrum rhoncus ut ac tortor. Morbi ullamcorper porta dui, placerat finibus nulla sollicitudin nec. Nam varius sem quis lorem mollis, at commodo velit volutpat. Curabitur dignissim felis eu ipsum luctus, non laoreet dolor vehicula. Sed sit amet iaculis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed arcu odio, pellentesque sed purus non, placerat tristique dolor. Sed pharetra, diam ut luctus aliquam, lorem est feugiat turpis, at pulvinar quam tortor ut nulla. Fusce risus massa, faucibus ut mauris a, blandit pellentesque mi. Nulla eget euismod sem. Donec at rutrum arcu. Vivamus aliquet placerat ligula sed dapibus. Vestibulum tincidunt diam nec nibh ultrices luctus. Donec congue dui id dolor lacinia, porta venenatis nisl aliquet. Praesent et congue ex, ac tempor purus.

Praesent ornare nisi nec nisi sollicitudin, at scelerisque risus efficitur. Proin scelerisque posuere vulputate. Nam mattis suscipit consequat. Duis euismod nisl eget fringilla consectetur. Ut tellus massa, tincidunt eu porta quis, varius et ante. Ut vitae ipsum laoreet, fermentum nunc in, ornare ligula. Phasellus metus diam, feugiat vitae porta id, luctus dapibus neque. Nullam tempus sem eu mauris luctus, molestie dapibus est elementum. Cras ultrices convallis interdum. Nulla sodales nunc sed enim maximus, ac fermentum eros malesuada. Nullam in eleifend ligula, eleifend tempor ipsum.

Sed dignissim sagittis felis, non consectetur arcu pellentesque vitae. Praesent tristique non ex eget consectetur. Phasellus sagittis tempor nunc vel vulputate. Aenean posuere quam quis magna dignissim, eu congue ligula placerat. Etiam maximus non eros eu facilisis. Maecenas sagittis eleifend bibendum. Nam lacus quam, blandit eu dui non, laoreet maximus metus. Sed finibus condimentum dui, at tempor libero commodo nec. Etiam rhoncus at velit ac finibus. Nullam ultrices scelerisque ipsum ac scelerisque.

In hac habitasse platea dictumst. Cras euismod magna a nisl sagittis, eu facilisis nunc commodo. Mauris tincidunt scelerisque nisi vel sollicitudin. Sed malesuada euismod eros in viverra. Nulla a felis vulputate, hendrerit purus vitae, tempus magna. Duis tincidunt ipsum sed sapien euismod, et ullamcorper ipsum fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu augue ligula. Ut dictum augue vitae libero aliquet consectetur. Nunc quis diam vel urna sagittis elementum. Morbi varius.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est tortor, pretium sit amet nisl dictum, tempor dapibus ex. Proin pulvinar ligula ac felis hendrerit, ut pulvinar lectus venenatis. Donec maximus risus ipsum, sit amet vulputate massa lobortis at. Cras sed tempus urna, quis facilisis turpis. Vestibulum molestie sagittis facilisis. Sed vehicula sollicitudin ante, vel convallis mi dictum sit amet. Praesent ut gravida magna. In pellentesque venenatis eros, nec consequat mauris ultricies non. Vivamus non sem gravida, accumsan nisl at, interdum ex. Pellentesque quam orci, laoreet in tristique non, viverra sollicitudin velit. Proin ut semper sapien. Morbi molestie rhoncus semper. Donec rhoncus eros vitae fringilla fermentum.

Suspendisse luctus odio vel leo aliquam facilisis. Aliquam erat volutpat. Nunc eu ante vestibulum, ullamcorper sem tincidunt, eleifend odio. Nam eu viverra turpis. Aliquam erat volutpat. Integer condimentum, ligula eu ultrices ultrices, sapien massa posuere mi, auctor placerat lacus dolor et orci. Nulla in lacus condimentum, ornare nibh vel, pulvinar nulla.

Vestibulum ornare turpis quis nibh viverra, id imperdiet elit volutpat. Cras scelerisque velit viverra risus finibus, sed blandit ante facilisis. Maecenas ac gravida dui, a maximus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce placerat, lorem eu gravida mollis, purus eros porta lectus, sit amet bibendum dolor eros ut enim. Suspendisse aliquet diam nibh, nec sodales elit tincidunt a. Etiam id lacus risus. Vestibulum malesuada dignissim mauris quis malesuada.

Mauris id consequat nisl. Integer et sollicitudin dui, vitae cursus sapien. Curabitur vel libero vehicula, placerat libero in, scelerisque neque. Donec vitae libero blandit, fermentum ex eu, laoreet magna. Maecenas tincidunt rutrum odio, a tempor diam placerat ut. Vivamus erat est, blandit at eleifend at, efficitur a quam. Phasellus eu justo sed odio mollis blandit. Integer purus velit, vehicula nec nulla et, fermentum mattis est. Integer elementum ligula vulputate est sagittis, at luctus dui finibus. Suspendisse eu viverra enim, sed ornare urna. Pellentesque dui eros, sagittis non tellus et, efficitur vestibulum dui. Quisque quam mauris, sodales eu volutpat ut, laoreet non odio. Fusce tortor leo, ultricies at iaculis a, sagittis vel odio. Curabitur ultricies, leo sed lacinia pulvinar, eros arcu tristique leo, eget malesuada mauris odio sed ligula. Nullam ut lorem quam. Vestibulum eu leo id leo feugiat scelerisque.

Etiam consectetur condimentum enim sed convallis. In mattis laoreet sapien, in tincidunt justo molestie vel. Nullam in cursus enim. Proin eu diam lacinia, sagittis metus dignissim, dictum lorem. Pellentesque egestas tempus dui a venenatis. Phasellus condimentum justo nec mi ultricies, id tempor orci pulvinar. Pellentesque quis convallis lectus. Proin auctor, est in convallis egestas, tellus ipsum condimentum lectus, nec scelerisque neque odio sed quam.

Cras laoreet euismod eros vitae aliquet. Vivamus in velit tempus sem rutrum rhoncus ut ac tortor. Morbi ullamcorper porta dui, placerat finibus nulla sollicitudin nec. Nam varius sem quis lorem mollis, at commodo velit volutpat. Curabitur dignissim felis eu ipsum luctus, non laoreet dolor vehicula. Sed sit amet iaculis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed arcu odio, pellentesque sed purus non, placerat tristique dolor. Sed pharetra, diam ut luctus aliquam, lorem est feugiat turpis, at pulvinar quam tortor ut nulla. Fusce risus massa, faucibus ut mauris a, blandit pellentesque mi. Nulla eget euismod sem. Donec at rutrum arcu. Vivamus aliquet placerat ligula sed dapibus. Vestibulum tincidunt diam nec nibh ultrices luctus. Donec congue dui id dolor lacinia, porta venenatis nisl aliquet. Praesent et congue ex, ac tempor purus.

Praesent ornare nisi nec nisi sollicitudin, at scelerisque risus efficitur. Proin scelerisque posuere vulputate. Nam mattis suscipit consequat. Duis euismod nisl eget fringilla consectetur. Ut tellus massa, tincidunt eu porta quis, varius et ante. Ut vitae ipsum laoreet, fermentum nunc in, ornare ligula. Phasellus metus diam, feugiat vitae porta id, luctus dapibus neque. Nullam tempus sem eu mauris luctus, molestie dapibus est elementum. Cras ultrices convallis interdum. Nulla sodales nunc sed enim maximus, ac fermentum eros malesuada. Nullam in eleifend ligula, eleifend tempor ipsum.

Sed dignissim sagittis felis, non consectetur arcu pellentesque vitae. Praesent tristique non ex eget consectetur. Phasellus sagittis tempor nunc vel vulputate. Aenean posuere quam quis magna dignissim, eu congue ligula placerat. Etiam maximus non eros eu facilisis. Maecenas sagittis eleifend bibendum. Nam lacus quam, blandit eu dui non, laoreet maximus metus. Sed finibus condimentum dui, at tempor libero commodo nec. Etiam rhoncus at velit ac finibus. Nullam ultrices scelerisque ipsum ac scelerisque.

In hac habitasse platea dictumst. Cras euismod magna a nisl sagittis, eu facilisis nunc commodo. Mauris tincidunt scelerisque nisi vel sollicitudin.
        </p>
    </div>
</div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>