{% extends 'layout/layout.html' %}

{% block title %}
Gaido Docs
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<section class="bg-primary section-header text-white">
    <div class="container text-center" id="header">
        <h1 class='display-3'>Docs</h1>
        <p class="lead">The Gaido documentation has everything you are going to need to travel sufficiently in Japan</p>
    </div>
</section>
<main>
<section class="bg-white section section-lg text-dark">
    <div class="container">
    </div>
</section>
</main>
{% endblock %}